.container {
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: "Signika Negative", sans-serif;
  font-weight: 500;
}
.application {
  border: 3px solid #fff87d;
  border-radius: 20px;
  padding: 10px 20px;
  max-width: 900px;
  display: block;
  margin: 20px auto;
  top: 50px;
}
.diseno {
  display: block;
  margin: 0 auto;
}

#boton {
  background: #28f7de;
  border-color: #28f7de;
  color: black;
}

#cityInput {
  border: 2px solid;
  border-color: #28f7de;
}

form {
  padding: 10px 20px;
}
#current {
  background: #b44aff;
  display: block;
  margin: 0 auto;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  border: solid 1px #b44aff;
}

.time {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #64a6ff;
}

#city {
  display: block;
  margin: 20px 0 0 0;
  font-size: 40px;
  font-family: "Signika Negative", sans-serif;
  font-weight: 500;
  vertical-align: bottom;
  text-align: center;
}

#temp {
  font-size: 60px;
}

#temp_ {
  font-size: 60px;
}

#emoji {
  font-size: 40px;
}

.condition {
  font-size: 15px;
}

#description {
  display: block;
  text-align: center;
}
#date {
  font-size: 20px;
  text-align: left;
}

#title {
  text-align: center;
  display: block;
  margin: 0 auto;
  border: 1px #ff98cf solid;
  border-radius: 10px;
  background: #ff98cf;
}

.right {
  text-align: center;
  background-color: #f0ffff;
}

.left {
  text-align: center;
}

.picture {
  font-size: 30px;
  display: block;
  margin: 0 auto;
}

#cloudy {
  color: #b9affe;
}

#sun {
  color: #ff8d00;
}

#rain {
  color: #3babfd;
}

#name {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 12px;
}

.temps .active {
  cursor: default;
  color: rgb(33, 33, 33);
}

.temps .active:hover {
  text-decoration: none;
}

img {
  display: inline-block;
  margin: 0 0 25px 0;
  vertical-align: top;
}

ul {
  list-style: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 18px;
  color: #000;
  opacity: 0.6;
}

.temperatures {
  font-size: 16px;
}

.temp-min {
  opacity: 0.7;
}

.float-left-day {
  margin-top: 5px;
  margin-bottom: 5px;
}
